body {
    padding: 0;
    margin: 0;
}

h1 {
    color:rgb(254, 251, 239);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

html {
    background-color: rgb(255, 242, 230);
}

.header {
    background-color: lightgreen;
    padding: 30px;
}


.botao_nav {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: solid;
    padding: 3px;
    width: 125px;
    color:darkgreen;
    a{
        color:darkgreen;
    }
}

.pag_principal {
    position: absolute;
}

.sobre {
    position: absolute;
    left:163px;
}

.formacao {
    position: absolute;
    left:297px;
}

.disciplinas {
    position: absolute;
    left:431px;
}

.contato {
    position: absolute;
    left:564px;
}

.texto {
    margin-top: 70px;
    left: 30px;
    position: relative;
    width: 400px;
}

.foto {
    position: absolute;
    margin-top: 30px;
    left: 400px;
}

.curriculo {
    position: relative;
    margin-top: 30px;
    left: 30px;
}

.download {
    background-color: blue;
    width: 200px;
    padding: 3px;
    border-radius: 20px;
    text-align: center;
    p {
    color: white;
    }
    font-family: Arial, Helvetica, sans-serif;
}

.hobby {
    margin-top: 30px;
    left: 30px;
    position: relative;
    width: 400px;
}

.fotos_sobre {
    margin-top: 30px;
    left: 30px;
    position: relative;
    width: 400px;
}
    
.primeira {
    position:absolute;
}

.segunda {
    position:absolute;
    left: 220px;
}

.terceira {
    position:absolute;
    left: 440px;  
}

.formacoes {
    margin-top: 70px;
    left: 30px;
    position: relative;
    width: 400px;
}