body {
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    background-color: rgb(250, 190, 130);
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgb(100, 100, 195);
    padding: 30px;
}

.botao_nav {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: solid;
    padding: 3px;
    width: 125px;
    color:darkblue;
    a{
        color:darkblue;
    }
}

.pag_principal {
    position: absolute;
}

.sobre {
    position: absolute;
    left:163px;
}

.formacao {
    position: absolute;
    left:297px;
}

.disciplinas {
    position: absolute;
    left:431px;
}

.contato {
    position: absolute;
    left:564px;
}

.coisa {
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(255, 150, 30);
}

/*  PÁGINA PRINCIPAL   */

.texto {
    margin-top: 70px;
    left: 30px;
    position: relative;
    width: 400px;
}

.foto {
    position: absolute;
    margin-top: 70px;
    left: 500px;
}

.curriculo {
    position: relative;
    margin-top: 30px;
    left: 30px;
    width: 200px;
}

.download {
    background-color: blue;
    width: 150px;
    border: 3px solid darkblue;
    border-radius: 20px;
    text-align: center;
    p {
    color: white;
    }
    font-family: Arial, Helvetica, sans-serif;
}

/*  SOBRE  */

.hobby {
    margin-top: 30px;
    top: 225px;
    left: 500px;
    position: absolute;
    width: 400px;
}

.fotos_sobre {
    margin-top: 30px;
    left: 30px;
    position: relative;
    width: 830px;
    height: 450px;
}
    
.primeira {
    position:absolute;
}

.segunda {
    position:absolute;
    left: 360px;
}

.terceira {
    position:absolute;
    left: 560px;  
}

/*  FORMAÇÕES  */

.formacoes {
    margin-top: 70px;
    left: 30px;
    position: relative;
    width: 400px;
}

/*  DISCIPLINAS  */

.tabela_hora {
    position: relative;
    margin-top: 70px;
    left: 30px;
    width: 900px;
}

th {
    padding-inline: 8px;
    border: solid;
    background-color: rgb(240, 180, 70);
}

td {
    padding: 10px;
    border: solid;
    text-align: center;
    background-color: rgb(250, 180, 160);
}

/*  CONTATO  */

.form_contato {
    position: relative;
    margin-top: 70px;
    left: 30px;
    height: 300px;
    width: 600px;
}

.nome {
    position: absolute;
    input {
        height:30px;
        width: 240px;
        border: solid 2px grey;
        border-radius: 5px;
    }
}

.email {
    position: absolute;
    left: 300px;
    input {
        height:30px;
        width: 240px;
        border: solid 2px grey;
        border-radius: 5px;
    }  
}

.assunto {
    position: absolute;
    top: 150px;
    select {
        height:30px;
        width: 240px;
        border: solid 2px grey;
        border-radius: 5px ;
    }
}

.mensagem {
    position: absolute;
    top:150px;
    left: 300px;
    textarea {
        border: solid 2px grey;
        border-radius: 5px;
    }
}

.envio {
    position: absolute;
    top:235px;
    input {
        width: 150px;
        height: 30px;
        padding: 3px;
        border: 2px solid grey;
        border-radius: 5px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}