body {
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

html {
    background-color: rgb(255, 240, 220);
}

.header {
    background-color: #90ee90;
    padding: 30px;
}


.botao_nav {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: solid;
    padding: 3px;
    width: 125px;
    color:darkgreen;
    a{
        color:darkgreen;
    }
}

/*  PÁGINA PRINCIPAL   */

.pag_principal {
    position: absolute;
}

.sobre {
    position: absolute;
    left:163px;
}

.formacao {
    position: absolute;
    left:297px;
}

.disciplinas {
    position: absolute;
    left:431px;
}

.contato {
    position: absolute;
    left:564px;
}

.texto {
    margin-top: 70px;
    left: 30px;
    position: relative;
    width: 400px;
}

.foto {
    position: absolute;
    margin-top: 30px;
    left: 400px;
}

.curriculo {
    position: relative;
    margin-top: 30px;
    left: 30px;
}

.download {
    background-color: blue;
    width: 150px;
    border: 3px solid darkblue;
    border-radius: 20px;
    text-align: center;
    p {
    color: white;
    }
    font-family: Arial, Helvetica, sans-serif;
}

/*  SOBRE  */

.hobby {
    margin-top: 30px;
    left: 30px;
    position: relative;
    width: 400px;
}

.fotos_sobre {
    margin-top: 30px;
    left: 30px;
    position: relative;
    width: 400px;
}
    
.primeira {
    position:absolute;
}

.segunda {
    position:absolute;
    left: 220px;
}

.terceira {
    position:absolute;
    left: 440px;  
}

/*  FORMAÇÕES  */

.formacoes {
    margin-top: 70px;
    left: 30px;
    position: relative;
    width: 400px;
}

/*  DISCIPLINAS  */

.tabela_hora {
    position: relative;
    margin-top: 70px;
    left: 30px;
}

th {
    padding-inline: 8px;
    border: solid;
    background-color: rgb(240, 180, 70);
}

td {
    padding: 10px;
    border: solid;
    text-align: center;
    background-color: rgb(250, 180, 160);
}

/*  CONTATO  */

.form_contato {
    position: relative;
    margin-top: 70px;
    left: 30px;
}

.nome {
    
    input {
        height:30px;
        width: 240px;
        border: solid 2px grey;
        border-radius: 5px;
    }
}

.email {
    input {
        height:30px;
        width: 240px;
        border: solid 2px grey;
        border-radius: 5px;
    }
}

.assunto {
    select {
        height:30px;
        width: 240px;
        border: solid 2px grey;
        border-radius: 5px ;
    }
}

.mensagem {
    textarea {
        border: solid 2px grey;
        border-radius: 5px;
    }
}

.envio {
    input {
        width: 150px;
        height: 30px;
        padding: 3px;
        border: 2px solid grey;
        border-radius: 5px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}