body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color:rgb(254, 251, 239);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.header {
        background-color: lightgreen;
        padding: 30px;
}

.botao_nav {
    height: 30px;
    width: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.pag_principal {
    position: absolute;
}

.sobre {
    position: absolute;
    left: 200px;
}

.formacao {
    position: absolute;
    left: 300px;
}

.disciplinas {
    position: absolute;
    left: 400px;
}

.contato {
    position: absolute;
    left: 500px; 
}

html {
    background-color: rgb(254, 251, 239);
}